<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.SchoolInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.system.entity.SchoolInfo">
        <id column="id" property="id" />
        <result column="school_id" property="school_id" />
        <result column="school_name" property="school_name" />
        <result column="year_no" property="year_no" />
        <result column="teacher_num" property="teacher_num" />
        <result column="student_num" property="student_num" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, school_id, school_name, year_no, teacher_num, student_num, create_time, update_time
    </sql>

</mapper>
